body {
      background-color: rgb(34, 193, 195); /* Cambia los valores RGB a los que tú quieras */
      color: white; /* Color del texto, para que se vea sobre el fondo */
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 20%;
    }
#footer{
    background: black;
  }
  
  #footer a{
    color: #FFFFFF;
  }
